<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento</title>
</head>
<body>
    <form action="submit" method="POST">{% csrf_token %}
        <div align="center">
            <h2>Evento</h2>
                <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
            <p>
                <label>Título:</label><br>
                <input type="text" name="titulo" value="{{ evento.titulo }}">
            </p>
            <p>
                <label>Data do Evento:</label><br>
                <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}">
            </p>
            <p>
                <label>Descrição:</label><br>
                <textarea name="descricao" rows="5" cols="23">{{ evento.descricao }}</textarea>
            </p>
            <br><br>
            <a href="/">
                <button type="button">Cancelar</button>
            </a>
            <button type="submit">Salvar</button>
        </div>
    </form>

</body>
</html>